<section>
  <div class="container">
    <div id="card-stats">
      <div class="row">
        <% @teams.each_with_index do |team, index| %>
          <div class="col s12 m6 l3">
            <div class="card">
              <div class="card-content <%= card_color(index) %> white-text">
                <h1 class="team-avatar">
                  <img src="<%= team.avatar %>" />
                </h1>
                <h2 class="card-stats-number text-center">
                  <%= team.points %>
                </h2>
              </div>
              <div class="card-action <%= card_color(index) %> darken-2">
                <div class="center-align">
                  <%= index + 1 %>. <%= team.name %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
    <a href="<%= dashboard_path %>" class="btn-floating btn-large teal" title="Reload">
      <i class="large material-icons">replay</i>
    </a>
  </div>
</section>
